<div id="footer" style="background-color: #ccc;width: 100%;padding: 10px;text-align:center">
  <div class="container">
    <div class="row">
      <ul class="list-inline">
        <li><a href="http://jeffdemerswebdesign.com">Jeff Demers Web Design</a>
        </li>
      </ul>
    </div>
  </div>
</div>