// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'bootstrap';

.photo{
  width: 150px;
}



.thumbnail > img,
.thumbnail a > img {
  display: block;
  max-width: 100%;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
}

