// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.success {
  font-size: 25px;
  color: blue;

}

.error {
  font-size: 25px;
  color: red;
}
