<div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
  <!-- Overlay -->
  <div class="overlay"></div>

  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#bs-carousel" data-slide-to="1"></li>
    <li data-target="#bs-carousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item slides active">
      <div class="slide-1"></div>
      <div class="hero">
        <hgroup>
          <h1>Pocket Shops</h1>
          <h3>Start selling today</h3>
        </hgroup>
        <a href="sellers/new" class="btn btn-primary btn-lg" role="button">Register Now</a>
      </div>
    </div>
    <div class="item slides">
      <div class="slide-2"></div>
      <div class="hero">
        <hgroup>
          <h1>Electronics</h1>
          <h3>Visit our Electronics department and see today's selection.</h3>
        </hgroup>
        <a href="categories/1" class="btn btn-primary btn-lg" role="button">Electronics</a>
      </div>
    </div>
    <div class="item slides">
      <div class="slide-3"></div>
      <div class="hero">
        <hgroup>
          <h1>Nikon</h1>
          <h3>Deal of the Day!</h3>
        </hgroup>

        <a href="categories/1" class="btn btn-primary btn-lg" role="button">Get the Deal</a>


      </div>
    </div>
    </div>
  </div>




<br>

<div class="row text-center">
<% @categories.each do |category| %>

      <div class="col-md-6 col-sm-0 hero-feature">
        <div class="thumbnail">

    <%= image_tag(category.image, :class => 'catindexphoto')%>
          <h4><%= category.name%></h4>
    <h5> <%= truncate(category.description, length: 120) %></h5>

    <%= link_to "All items in this Category", category_path(category), "class" => "btn btn-primary" %>
<br>
          <br>
</div>
      </div>

<% end %>
</div>









