<h1>Categories#show</h1>

    <h3><%= @category.name%></h3>
    <%= image_tag(@category.image, :class => 'photo')%>
    <h4>Description: <%= @category.description%></h4>
    <h4>Rank <%= @category.rank%></h4>


